* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

@keyframes blink {
  50% {
    background-color: lime;
    color: black;
    box-shadow: 1px 0px 0px purple;
  }
}
.blink {
  padding-left: 3px;
  animation: blink 2s step-start 0s infinite;
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 2rem 0;
  background-color: black;
}
@media (min-width: 600px) {
  .banner {
    padding: 1rem 0;
  }
}
@media (min-width: 768px) {
  .banner {
    padding: 2rem 0;
  }
}

.banner__text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5rem;
  color: lime;
  text-shadow: 1px 0px 0px purple;
}
@media (min-width: 600px) {
  .banner__text {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .banner__text {
    font-size: 3rem;
  }
}

@media (max-width: 1200px) {
  a,
  button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
.container {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: transparent;
  margin: 0 auto;
  max-width: 98%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 84%;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 74%;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 64%;
  }
}

.apps {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}
@media (min-width: 600px) {
  .apps {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .apps {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .apps {
    flex-direction: row;
  }
}

.apps:last-child {
  padding-bottom: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.app__link {
  text-decoration: none;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #f9bc60;
  background-color: #f9bc60;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .app__link:hover {
    background-color: #ffffff;
    color: #f9bc60;
  }
}
.app__link:active {
  background-color: #ffffff;
  color: #f9bc60;
}

.app__description {
  font-family: "Roboto", sans-serif;
}
@media (min-width: 800px) {
  .app__description {
    text-indent: 1.75rem;
  }
}

.app__description--red {
  align-self: center;
  color: #f45d48;
}
@media (min-width: 800px) {
  .app__description--red {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .app__description--red {
    font-size: 1rem;
  }
}

.slides {
  display: flex;
  flex-direction: row;
  /* The following removes a couple of 
  transparent pixels below the image. */
  line-height: 0;
}

.slides__slide {
  display: none;
}

.slides__img {
  max-width: 100%;
}

.slides__prev,
.slides__next {
  background-color: transparent;
  font-weight: bold;
  border: none;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  .slides__prev:hover,
  .slides__next:hover {
    background-color: rgba(0, 0, 0, 0.1490196078);
    color: #ffffff;
  }
}
.slides__prev:active,
.slides__next:active {
  background-color: #f9bc60;
  color: #ffffff;
}